body{
margin:0;
font-family:Poppins,Arial;
background:#f4f6f8;
transition:0.4s;
}

.dark{
background:#121212;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
padding:15px 40px;
background:#0a2540;
color:white;
}

.navbar a,button{
color:white;
background:none;
border:none;
margin:5px;
font-size:16px;
cursor:pointer;
}

.hero{
height:90vh;
background:linear-gradient(120deg,#00d4ff,#005eff);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
text-align:center;
}

.btn{
background:white;
color:#005eff;
padding:12px 25px;
border-radius:30px;
text-decoration:none;
}

.features,.models{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:40px;
}

.card,.model-card{
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 15px 30px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover,.model-card:hover{
transform:scale(1.05);
}

.model-card img{
width:100%;
border-radius:10px;
}

.reviews{
padding:40px;
background:#eef2f7;
text-align:center;
}

.review-box{
background:white;
margin:10px auto;
padding:15px;
width:60%;
border-radius:10px;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25d366;
color:white;
font-size:30px;
padding:15px;
border-radius:50%;
text-decoration:none;
}

.map{
width:100%;
height:300px;
border:0;
}
